{% extends 'layouts/profile.html' %}
{% load static %}

{% block title %}
    {{ user_profile.full_name }} | CreativeWEB
{% endblock title %}


{% block profile_content %}
<div>
    <div class="w-full block bg-orange-500 rounded-lg">
        <div class="flex flex-col items-center p-10">
            <img class="w-48 h-48 mb-3 rounded-full shadow-lg" src="{% if user.profile.avatar %}{{ user_profile.avatar.url }}{% else %}{% static '/images/user.png'%}{% endif %}" alt="Bonnie image" />
            <h2 class="text-4xl font-bold">{{ user_profile.full_name }}</h2>
            <span class="text-xl">{{ user_profile.username }}</span>
            <a href="#" class="font-medium text-xl underline">
                {{ user_profile.email }}
            </a>
            <div class="flex mt-4 md:mt-6">
                <a href="{% url 'home' %}"
                    class="inline-flex items-center px-4 py-2 text-xl font-medium text-center text-orange-500 bg-white rounded-lg transition-all hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200">
                    Басты бетке өту
                </a>
                <a href="{% url 'edit_profile' %}"
                    class="py-2 px-4 ms-2 text-xl font-medium transition-all text-white hover:underline">
                    Профилде өзгеріс жасау
                </a>
            </div>
        </div>
    </div>


    <div class="max-w-screen-md w-full flex flex-col items-center gap-2 mx-auto my-10">
        <img 
            src="{% static '/images/empty.png' %}" 
            class="w-48"
            alt=""
        >
        <h1 class="text-2xl font-bold">Тағы да сабақтар жүктеу</h1>
        <span class="text-xl text-center">
            Админ панеліне кіріп, ойындарды тиісті категорияға байланысты қосыңыз. 
        </span>
        <a 
            href="/admin/"
            target="_blank"
            class="inline-flex items-center px-4 text-xl py-2 font-medium text-center text-orange-500 bg-white rounded-lg transition-all hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200">
            Басқару панеліне өту
        </a>
    </div>
</div>
{% endblock profile_content %}