{% extends 'layouts/profile.html' %}
{% load static %}

{% block title %}
    {{ user_profile.full_name }} | CreativeWEB
{% endblock title %}


{% block profile_content %}
<div>
    <div>
        {% if messages %}
        <ul class="messages">
            {% for message in messages %}
            <li class="">
                <div class="alert {{ message.tags }} flex items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
                    role="alert">
                    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                        fill="currentColor" viewBox="0 0 20 20">
                        <path
                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                    </svg>
                    <div>
                        {{ message }}
                    </div>
                </div>
            </li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>

    <div class="w-full block bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
        <div class="flex flex-col items-center p-10">
            <img class="w-48 h-48 mb-3 rounded-full shadow-lg" src="{% if user.profile.avatar %}{{ user_profile.avatar.url }}{% else %}{% static '/images/user-default.jpg'%}{% endif %}" alt="Bonnie image" />
            <h2 class="text-4xl font-bold dark:text-white">{{ user_profile.full_name }}</h2>
            <span class="text-gray-500 dark:text-gray-400">{{ user_profile.username }}</span>
            <a href="#" class="font-medium text-blue-600 dark:text-blue-500 hover:underline">
                {{ user_profile.email }}
            </a>
            <div class="flex mt-4 md:mt-6">
                <a href="{% url 'home' %}"
                    class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-white bg-blue-700 rounded-lg hover:bg-blue-800 focus:ring-4 focus:outline-none focus:ring-blue-300 dark:bg-blue-600 dark:hover:bg-blue-700 dark:focus:ring-blue-800">
                    Басқару панеліне өту
                </a>
                <a href="{% url 'edit_profile' %}"
                    class="py-2 px-4 ms-2 text-sm font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-blue-700 focus:z-10 focus:ring-4 focus:ring-gray-100 dark:focus:ring-gray-700 dark:bg-gray-800 dark:text-gray-400 dark:border-gray-600 dark:hover:text-white dark:hover:bg-gray-700">
                    Өзгеріс жасау
                </a>
            </div>
        </div>
    </div>

</div>
{% endblock profile_content %}