{% extends 'layouts/games.html' %}
{% load static %}


{% block title %}
    {{ quiz_control.quiz.title }} | GameMath
{% endblock title %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/inverted_card.css' %}">
{% endblock extra_css %}


{% block game_content %}
<div class="w-full h-full overflow-hidden">
    <div class="relative">
        <div id="maze-container"
            class="w-full h-screen bg-green-600 flex justify-center items-center"
        >
            <!-- Timer -->
            <div id="timer" class="fixed top-5 right-5 z-20 bg-white rounded-lg p-2 font-bold text-red-600">10:00</div>

            <div id="quiz-container" class="flex gap-8 flex-wrap"></div>

            <!-- Модалды терезе -->
            <div id="modal" class="w-full h-full fixed bg-black/50 z-50 hidden justify-center items-center">
                <div id="close-modal" class="absolute top-5 right-5 p-2 rounded-lg bg-white hover:bg-gray-100 cursor-pointer">
                    <svg class="w-4 h-4 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                    </svg>
                </div>

                <div class="max-w-screen-lg w-full bg-white rounded-xl p-6">
                    <div id="modal-content" class="text-gray-900"></div>
                </div>
            </div>


            <button 
                id="submit-answers" 
                class="absolute bottom-5 left-5 py-4 px-8 font-semibold bg-orange-500 text-white rounded-lg transition-all hover:bg-orange-600 disabled:opacity-50 disabled:cursor-not-allowed"
                disabled
                onclick="playAudio('finish-audio')"  
            >
                Ойынды аяқтау
            </button>

            <!-- Аудиофайлы -->
            <audio id="click-audio" src="{% static 'audio/option_click-1.wav' %}"></audio>
            <audio id="step-sound" src="{% static 'audio/step.mp3' %}"></audio>
            <audio id="chest-sound" src="{% static 'audio/chest-open.mp3' %}"></audio>
            <audio id="finish-audio" src="{% static 'audio/finish.mp3' %}"></audio>
        </div>
    </div>
</div>
{% endblock game_content %}


{% block extra_js %}
    <script src="{% static 'scripts/games.js' %}"></script>
    <script src="{% static 'scripts/inverted_card.js' %}"></script>
{% endblock extra_js %}