{% extends 'layouts/games.html' %}
{% load static %}


{% block title %}
    {{ quiz_control.quiz.title }} | GameMath
{% endblock title %}


{% block extra_css %}
    <link rel="stylesheet" href="{% static 'css/pirates.css' %}">
{% endblock extra_css %}


{% block game_content %}
<div class="w-full h-full overflow-hidden">
    <div class="relative">
        <div id="maze-container"
            class="w-full h-screen bg-blue-500"
        >  
            <!-- Instruction -->
            <div class="absolute top-5 left-5 bg-white p-4 rounded-lg">
                <div class="text-gray-900 text-sm flex gap-2 items-center">
                    <svg class="w-4 h-4 bg-orange-500 text-white rounded" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m15 19-7-7 7-7"/>
                    </svg>
                    <svg class="w-4 h-4 bg-orange-500 text-white rounded" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m9 5 7 7-7 7"/>
                    </svg>
                    <svg class="w-4 h-4 bg-orange-500 text-white rounded" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m5 15 7-7 7 7"/>
                    </svg>
                    <svg class="w-4 h-4 bg-orange-500 text-white rounded" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 9-7 7-7-7"/>
                    </svg>
                </div>
                <div class="flex items-center gap-2 text-sm mt-2">
                    <div class="w-5 h-6 rounded-lg bg-orange-500 flex items-center justify-center">
                        <div class="w-1 h-1 bg-white rounded-full"></div>
                    </div>
                    <span class="text-gray-900">Қазынаны басып ашу</span>
                </div>
            </div>

            <!-- Timer -->
            <div id="timer" class="fixed top-5 right-5 z-20 bg-white rounded-lg p-2 font-bold text-red-600">05:00</div>

            <!-- Ship -->
            <div 
                id="ship"
                class="z-20"    
            >
                <img 
                    src="{% static 'games/pirates/pirate-ship.png' %}" 
                    class="w-full"
                    alt=""
                >
            </div>

            <div id="quiz-container"></div>

            <!-- Модалды терезе -->
            <div id="modal" class="w-full h-full fixed bg-black/50 z-50 hidden justify-center items-center">
                <div id="close-modal" class="absolute top-5 right-5 p-2 rounded-lg bg-white hover:bg-gray-100 cursor-pointer">
                    <svg class="w-4 h-4 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M6 18 17.94 6M18 18 6.06 6"/>
                    </svg>
                </div>

                <div class="max-w-screen-lg w-full bg-white rounded-xl p-6">
                    <div id="modal-content" class="text-gray-900"></div>
                </div>
            </div>


            <button 
                id="submit-answers" 
                class="absolute bottom-5 left-5 py-4 px-8 font-semibold bg-orange-500 text-white rounded-lg transition-all hover:bg-orange-600 disabled:opacity-50 disabled:cursor-not-allowed"
                disabled
                onclick="playAudio('finish-audio')"  
            >
                Аяқтау
            </button>


            <!-- Behavior objects -->
            <div>
                <!-- Island -->
                <div>
                    <div 
                        class="absolute top-[45%] left-[34%]"
                    >
                        <img 
                            src="{% static 'games/pirates/island.png' %}" alt=""
                            class="w-28"    
                        >
                    </div>
                    <div 
                        class="absolute top-[67%] left-[74%]"
                    >
                        <img 
                            src="{% static 'games/pirates/island.png' %}" alt=""
                            class="w-28"    
                        >
                    </div>
                </div>

                <!-- Whales -->
                <div>
                    <div class="object whale absolute top-[5%] right-[10%]">
                        <img 
                            src="{% static 'games/pirates/whale.png' %}" 
                            alt=""
                            class="w-20"    
                        >
                    </div>
                    <div class="object whale absolute top-[25%] right-[24%]">
                        <img 
                            src="{% static 'games/pirates/whale.png' %}" 
                            alt=""
                            class="w-20"    
                        >
                    </div>
                    <div class="object whale absolute top-[45%] right-[5%]">
                        <img 
                            src="{% static 'games/pirates/whale.png' %}" 
                            alt=""
                            class="w-20"    
                        >
                    </div>
                </div>


                <!-- Fish -->
                <div>
                    <div class="object whale absolute top-[5%] left-[10%]">
                        <img 
                            src="{% static 'games/pirates/fish.png' %}" 
                            alt=""
                            class="w-10"    
                        >
                    </div>
                    <div class="object whale absolute top-[25%] left-[24%]">
                        <img 
                            src="{% static 'games/pirates/fish.png' %}" 
                            alt=""
                            class="w-10"    
                        >
                    </div>
                    <div class="object whale absolute top-[45%] left-[5%]">
                        <img 
                            src="{% static 'games/pirates/fish.png' %}" 
                            alt=""
                            class="w-10"    
                        >
                    </div>
                </div>
            </div>


            <!-- Аудиофайлы -->
            <audio id="click-audio" src="{% static 'audio/option_click-1.wav' %}"></audio>
            <audio id="ship-sound" src="{% static 'audio/ship.mp3' %}"></audio>
            <audio id="chest-sound" src="{% static 'audio/chest-open.mp3' %}"></audio>
            <audio id="finish-audio" src="{% static 'audio/finish.mp3' %}"></audio>
            
            <audio id="whale-sound" src="{% static 'audio/whale-sound.mp3' %}"></audio>
            <audio id="coin-sound" src="{% static 'audio/coin.mp3' %}"></audio>
            
        </div>
    </div>
</div>
{% endblock game_content %}


{% block extra_js %}
    <script src="{% static 'scripts/games.js' %}"></script>
    <script src="{% static 'scripts/pirates.js' %}"></script>
{% endblock extra_js %}