/* ==============================
   Жалпы бөлме стилі
============================== */
#tv {
    position: absolute;
    bottom: 230px;
    right: 45%;
}

#door {
    position: absolute;
    bottom: 270px;
    right: 10%;
}