
.card {
    transform-style: preserve-3d;
    transform: rotateY(0);
}

.opened {
    transform: rotateY(180deg);
}

.card-front,
.card-back {
    backface-visibility: hidden;
}

.card-back {
    transform: rotateY(180deg);
}