{% extends 'layouts/main.html' %}
{% load static %}
{% load custom_filters %}


{% block title %}
    Басқару панелі | GameMath
{% endblock title %}


{% block main_content %}
<div class="container grid gap-4 sm:gap-8">
    <!-- Welcome -->
    <div data-aos="fade-left">
        <h1 class="mb-2 font-extrabold text-2xl sm:text-3xl md:text-4xl xl:text-5xl 2xl:text-6xl">
            Сізді көргенімізге қуаныштымыз
            <span class="text-transparent bg-clip-text bg-gradient-to-r to-orange-600 from-red-600">
                {{ request.user.first_name }}
                {{ request.user.last_name }}
            </span> 
        </h1>
    </div>

    <!-- Link to quizzes -->
    <div 
        data-aos="fade-up"
        class="grid lg:flex items-start justify-between gap-4 bg-orange-500 rounded-xl p-6 sm:p-12"
    >
        <div class="grid gap-4 w-full lg:max-w-screen-md">
            <h1 class="font-extrabold text-2xl md:text-4xl">Біздің порталға қош келдіңіз</h1>
            <p class="font-normal">
                Біздің порталда бастауыш сыныптағы математика пәніндегі тақырыптарға арналған
                ойын түріндегі тесттер мен квиздер бар.
            </p>
            <div>
                <a
                    href="{% url 'categories' %}"
                    class="inline-flex gap-2 items-center justify-center px-4 py-2 font-medium text-center text-orange-500 bg-white rounded-lg transition-all hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200"
                >
                    <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 12h14m-7 7V5"/>
                    </svg>
                    
                    Ойындар қосу
                </a> 
            </div>
        </div>

        <div class="overflow-hidden rounded-xl w-full lg:w-48">
            <img src="{% static '/images/home.png' %}"
                class="w-full"
                alt=""
            >
        </div>
    </div>

    <div class="grid gap-4">
        <div data-aos="fade-right">
            <h1 class="text-xl md:text-2xl lg:text-3xl font-extrabold">Таңдалып алынған ойындар</h1>
        </div>
        <div class="grid gap-2 overflow-x-auto">
            {% for item in user.quiz_controls.all %}
                <div class="min-w-[1024px] flex items-center justify-between gap-2 rounded-xl p-4 bg-orange-500">
                    <!-- Overview -->
                    <div class="flex items-start gap-4 xl:w-full xl:max-w-sm 2xl:max-w-md">
                        <a href="{% url 'quiz_control_detail' item.id %}">
                            <img 
                                src="{% if item.quiz.poster %}{{ item.quiz.poster.url }}{% else %}{% static 'images/poster.png' %}{% endif %}" 
                                class="w-24 rounded-lg transition-all hover:scale-105" alt=""
                            >
                        </a>
                        <div class="flex flex-col items-start gap-1">
                            <a href="{% url 'quiz_control_detail' item.id %}">
                                <h1 class="text-2xl font-bold line-clamp-1 transition-all hover:scale-105">{{ item.quiz.title }}</h1>
                            </a>
                            <button
                                data-url="{% url 'quiz_control_detail' item.id %}"
                                class="copy-btn inline-flex gap-2 items-center justify-center px-4 py-2 text-base font-medium text-center text-orange-500 bg-white rounded-lg transition-all hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200"
                            >
                                <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M14 4v3a1 1 0 0 1-1 1h-3m4 10v1a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h2m11-3v10a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7.87a1 1 0 0 1 .24-.65l2.46-2.87a1 1 0 0 1 .76-.35H18a1 1 0 0 1 1 1Z"/>
                                </svg>
                                Сілтемесін көшіріп алу
                            </button> 
                        </div>
                    </div>

                    <!-- Date started -->
                    <div class="flex gap-2 items-center">
                        <div>
                            <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M12 8v4l3 3m6-3a9 9 0 1 1-18 0 9 9 0 0 1 18 0Z"/>
                            </svg>
                        </div>
                        <div class="grid">
                            <h1 class="font-bold">Басталу/аяқталу уақыты</h1>
                            <span class="text-base">{{ item.date_started }}</span>
                            <span class="text-base">
                                {% if item.date_finished %}
                                    {{ item.date_finished }}
                                {% else %}
                                    -- -- --- --:--
                                {% endif %}
                            </span>
                        </div>
                    </div>

                    <!-- Status -->
                    <div class="flex gap-2 items-center">
                        <div>
                            {% if item.status == 'finished' %}
                                <svg class="w-8 h-8 text-green-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M13.09 3.294c1.924.95 3.422 1.69 5.472.692a1 1 0 0 1 1.438.9v9.54a1 1 0 0 1-.562.9c-2.981 1.45-5.382.24-7.25-.701a38.739 38.739 0 0 0-.622-.31c-1.033-.497-1.887-.812-2.756-.77-.76.036-1.672.357-2.81 1.396V21a1 1 0 1 1-2 0V4.971a1 1 0 0 1 .297-.71c1.522-1.506 2.967-2.185 4.417-2.255 1.407-.068 2.653.453 3.72.967.225.108.443.216.655.32Z"/>
                                </svg>
                            {% else %}
                                <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M5 14v7M5 4.971v9.541c5.6-5.538 8.4 2.64 14-.086v-9.54C13.4 7.61 10.6-.568 5 4.97Z"/>
                                </svg>
                            {% endif %}
                        </div>
                        <div>
                            <h1 class="font-bold">Статус</h1>
                            <span>{{ item.get_status_display }}</span>
                        </div>
                    </div>

                    <!-- User quizzes -->
                    <div class="flex gap-2 items-center">
                        <div>
                            <svg class="w-8 h-8" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M4.5 17H4a1 1 0 0 1-1-1 3 3 0 0 1 3-3h1m0-3.05A2.5 2.5 0 1 1 9 5.5M19.5 17h.5a1 1 0 0 0 1-1 3 3 0 0 0-3-3h-1m0-3.05a2.5 2.5 0 1 0-2-4.45m.5 13.5h-7a1 1 0 0 1-1-1 3 3 0 0 1 3-3h3a3 3 0 0 1 3 3 1 1 0 0 1-1 1Zm-1-9.5a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0Z"/>
                            </svg>
                        </div>
                        <div>
                            <h1 class="font-bold">Қатысушылар</h1>
                            <span>{{ item.user_quizzes.all.count }}</span>
                        </div>
                    </div>

                    <!-- Modal settings -->
                    <div class="flex gap-2">
                        <!-- Statistic -->
                        <div>
                            <button 
                                data-modal-target="statictic-modal-{{ item.id }}" 
                                data-modal-toggle="statictic-modal-{{ item.id }}" 
                                class="p-4 rounded-lg bg-white transition-all hover:bg-gray-100"
                                type="button"
                            >
                                <svg class="w-8 h-8 text-orange-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                                </svg>
                            </button>
                            
                            <div id="statictic-modal-{{ item.id }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                <div class="relative p-4 w-full max-w-2xl max-h-full">
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                            <div class="flex gap-2">
                                                <svg class="w-8 h-8 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M3 15v4m6-6v6m6-4v4m6-6v6M3 11l6-5 6 5 5.5-5.5"/>
                                                </svg>
                                                <h3 class="font-semibold text-2xl text-gray-900">
                                                    Статистикалар
                                                </h3>
                                            </div>
                                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="statictic-modal-{{ item.id }}">
                                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                        </div>
                                        <div class="relative">
                                            <div class="p-4 md:p-5 space-y-4">
                                                {% if item.status == 'finished' %}
                                                    <div class="grid">
                                                        {% for user_quiz in item.user_quizzes.all %}
                                                            <a 
                                                                href="{% url 'quiz_result' user_quiz.id %}"
                                                                target="_blank"
                                                                class="flex items-center justify-between gap-2 p-4 border-b transition-all hover:bg-gray-100"
                                                            >
                                                                <div class="flex items-center gap-4">
                                                                    <div class="flex gap-2 items-center">
                                                                        <div class="bg-{{ ''|random_tailwind_color }} w-10 h-10 flex justify-center items-center rounded-full">
                                                                            <span class="text-2xl font-bold">{{ user_quiz.username|first_upper }}</span>
                                                                        </div>  
                                                                        <h1 class="text-xl font-bold text-gray-900">{{ user_quiz.username }}</h1>
                                                                    </div>

                                                                    <div class="flex text-gray-900 gap-2">
                                                                        <div class="text-amber-500">
                                                                            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                                                                <path d="M13.849 4.22c-.684-1.626-3.014-1.626-3.698 0L8.397 8.387l-4.552.361c-1.775.14-2.495 2.331-1.142 3.477l3.468 2.937-1.06 4.392c-.413 1.713 1.472 3.067 2.992 2.149L12 19.35l3.897 2.354c1.52.918 3.405-.436 2.992-2.15l-1.06-4.39 3.468-2.938c1.353-1.146.633-3.336-1.142-3.477l-4.552-.36-1.754-4.17Z"/>
                                                                            </svg>
                                                                        </div>
                                                                        <div class="font-semibold">
                                                                            <span>{{ item.quiz.max_score }}/{{ user_quiz.total_score }}</span>
                                                                        </div>
                                                                    </div>
                                                                </div>
                                                                <div class="flex gap-1 items-center py-1 px-2 rounded-lg bg-green-500">
                                                                    <svg class="w-6 h-6 text-white" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                                        <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m8.032 12 1.984 1.984 4.96-4.96m4.55 5.272.893-.893a1.984 1.984 0 0 0 0-2.806l-.893-.893a1.984 1.984 0 0 1-.581-1.403V7.04a1.984 1.984 0 0 0-1.984-1.984h-1.262a1.983 1.983 0 0 1-1.403-.581l-.893-.893a1.984 1.984 0 0 0-2.806 0l-.893.893a1.984 1.984 0 0 1-1.403.581H7.04A1.984 1.984 0 0 0 5.055 7.04v1.262c0 .527-.209 1.031-.581 1.403l-.893.893a1.984 1.984 0 0 0 0 2.806l.893.893c.372.372.581.876.581 1.403v1.262a1.984 1.984 0 0 0 1.984 1.984h1.262c.527 0 1.031.209 1.403.581l.893.893a1.984 1.984 0 0 0 2.806 0l.893-.893a1.985 1.985 0 0 1 1.403-.581h1.262a1.984 1.984 0 0 0 1.984-1.984V15.7c0-.527.209-1.031.581-1.403Z"/>
                                                                    </svg>
                                                                    <span class="block text-white font-medium text-sm">{{ user_quiz.get_status_display }}</span>
                                                                </div>
                                                            </a>
                                                        {% endfor %}
                                                    </div>
                                                {% else %}
                                                    <div class="grid">
                                                        {% for user_quiz in item.user_quizzes.all %}
                                                            <div class="flex items-center justify-between gap-2 py-4 border-b">
                                                                <div class="flex items-center gap-4">
                                                                    <div class="flex gap-2 items-center">
                                                                        <div class="bg-{{ ''|random_tailwind_color }} w-10 h-10 flex justify-center items-center rounded-full">
                                                                            <span class="text-2xl font-bold">{{ user_quiz.username|first_upper }}</span>
                                                                        </div>  
                                                                        <h1 class="text-xl font-bold text-gray-900">{{ user_quiz.username }}</h1>
                                                                    </div>
                                                                </div>
                                                                
                                                                <div class="flex gap-1 items-center py-1 px-2 rounded-lg {% if user_quiz.status == 'STARTED' %}bg-blue-500{% else %}bg-green-500{% endif %}">
                                                                    <span class="block text-white font-medium text-sm">{{ user_quiz.get_status_display }}</span>
                                                                </div>
                                                            </div>
                                                        {% endfor %}
                                                    </div>
                                                {% endif %}
                                            </div>
                                            <div class="flex items-center p-4 md:p-5 border-t border-gray-200 rounded-b dark:border-gray-600">
                                                <button 
                                                    data-modal-hide="statictic-modal-{{ item.id }}" 
                                                    type="button" 
                                                    class="py-2.5 px-5 ms-3 font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-orange-500 focus:z-10 focus:ring-4 focus:ring-gray-100"
                                                >
                                                    Жабу
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <!-- Settings -->
                        <div>
                            <button 
                                data-modal-target="setting-modal-{{ item.id }}" 
                                data-modal-toggle="setting-modal-{{ item.id }}" 
                                class="p-4 rounded-lg bg-white transition-all hover:bg-gray-100"
                                type="button"
                            >
                                <svg class="w-8 h-8 text-orange-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6h-2m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4"/>
                                </svg>
                            </button>
                            
                            <div id="setting-modal-{{ item.id }}" tabindex="-1" aria-hidden="true" class="hidden overflow-y-auto overflow-x-hidden fixed top-0 right-0 left-0 z-50 justify-center items-center w-full md:inset-0 h-[calc(100%-1rem)] max-h-full">
                                <div class="relative p-4 w-full max-w-2xl max-h-full">
                                    <div class="relative bg-white rounded-lg shadow dark:bg-gray-700">
                                        <div class="flex items-center justify-between p-4 md:p-5 border-b rounded-t dark:border-gray-600">
                                            <div class="flex gap-2">
                                                <svg class="w-8 h-8 text-gray-900" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-width="2" d="M20 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6h-2m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4m16 6H10m0 0a2 2 0 1 0-4 0m4 0a2 2 0 1 1-4 0m0 0H4"/>
                                                </svg>
                                                <h3 class="font-semibold text-2xl text-gray-900">
                                                    Баптаулар
                                                </h3>
                                            </div>
                                            
                                            <button type="button" class="text-gray-400 bg-transparent hover:bg-gray-200 hover:text-gray-900 rounded-lg text-sm w-8 h-8 ms-auto inline-flex justify-center items-center dark:hover:bg-gray-600 dark:hover:text-white" data-modal-hide="setting-modal-{{ item.id }}">
                                                <svg class="w-3 h-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 14 14">
                                                    <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m1 1 6 6m0 0 6 6M7 7l6-6M7 7l-6 6"/>
                                                </svg>
                                                <span class="sr-only">Close modal</span>
                                            </button>
                                        </div>

                                        {% if item.status != 'finished' %}
                                            <div class="p-4 md:p-5 space-y-4">
                                                <h1 class="text-gray-900 text-2xl font-bold">Ойынды аяқтау</h1>
                                                <div class="">
                                                    <p class="leading-relaxed text-gray-500">
                                                        "{{ item.quiz.title }}" ойынды аяқтауды қалайсыз ба?
                                                    </p>
                                                </div>
                                                <div class="flex items-center">
                                                    <form method="post" action="{% url 'finish_quiz_control' item.id %}">
                                                        {% csrf_token %}
                                                        <button 
                                                            type="submit"
                                                            class="focus:outline-none text-white bg-orange-500 hover:bg-orange-600 focus:ring-4 focus:ring-orange-300 font-medium rounded-lg text-xl px-5 py-2.5 mt-2 mb-2"
                                                        >
                                                            Ойынды аятау
                                                        </button>
                                                    </form>
                                                    <button 
                                                        data-modal-hide="setting-modal-{{ item.id }}" 
                                                        type="button" 
                                                        class="py-2.5 px-5 ms-3 font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-orange-500 focus:z-10 focus:ring-4 focus:ring-gray-100"
                                                    >
                                                        Кері қайту
                                                    </button>
                                                </div>
                                            </div>
                                        {% endif %}

                                        <div class="p-4 md:p-5 space-y-4 border-t">
                                            <h1 class="text-gray-900 text-2xl font-bold">Ойынды өшіру</h1>
                                            <div class="">
                                                <p class="leading-relaxed text-gray-500">
                                                    "{{ item.quiz.title }}" ойынды өшіруді қалайсыз ба?
                                                </p>
                                                <p class="leading-relaxed text-gray-500">
                                                    Егер өшірген жағдайда барлық ойынды өткен қатысушылар жайлы 
                                                    деректердің барлығы жойылады!
                                                </p>
                                            </div>
                                            <div class="flex items-center">
                                                <form method="post" action="{% url 'delete_quiz_control' item.id %}">
                                                    {% csrf_token %}
                                                    <button 
                                                        type="submit"
                                                        class="focus:outline-none text-white bg-red-700 hover:bg-red-800 focus:ring-4 focus:ring-red-300 font-medium rounded-lg text-xl px-5 py-2.5 mt-2 mb-2 dark:bg-red-600 dark:hover:bg-red-700 dark:focus:ring-red-900"
                                                    >
                                                        Ойынды өшіру
                                                    </button>
                                                </form>
                                                <button 
                                                    data-modal-hide="setting-modal-{{ item.id }}" 
                                                    type="button" 
                                                    class="py-2.5 px-5 ms-3 font-medium text-gray-900 focus:outline-none bg-white rounded-lg border border-gray-200 hover:bg-gray-100 hover:text-orange-500 focus:z-10 focus:ring-4 focus:ring-gray-100"
                                                >
                                                    Кері қайту
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                </div>
            {% endfor %}
        </div>
    </div>
</div>
{% endblock main_content %}