{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}
    {{ quiz_control.quiz.title }} | GameMath
{% endblock title %}


{% block main_content %}
    <div class="">
        <div class="flex items-start gap-4 flex-col lg:flex-row">
            <div 
                class="overflow-hidden rounded-xl w-full xl:max-w-xl 2xl:max-w-screen-md"
                data-aos="fade-down-right"
            >
                <img src="{{ quiz_control.quiz.poster.url }}" alt="">
            </div>
            
            <div
                data-aos="fade-down-left"
                class="flex-1 grid gap-8"
            >
                <!-- About -->
                <div class="grid gap-4 p-6 rounded-xl bg-orange-500">
                    <h1 class="text-4xl font-black">{{ quiz_control.quiz.title }}</h1>
                    <hr>
                    <span>
                        {{ quiz_control.quiz.description|safe }}
                    </span>
                    <hr>
                    <div class="flex gap-8">
                        <button
                            data-url="{% url 'quiz_control_detail' quiz_control.id %}"
                            class="copy-btn inline-flex gap-2 items-center justify-center px-4 py-2 font-medium text-center text-orange-500 bg-white rounded-lg transition-all hover:bg-gray-100 focus:ring-4 focus:outline-none focus:ring-gray-200"
                        >
                            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="none" viewBox="0 0 24 24">
                                <path stroke="currentColor" stroke-linejoin="round" stroke-width="2" d="M14 4v3a1 1 0 0 1-1 1h-3m4 10v1a1 1 0 0 1-1 1H6a1 1 0 0 1-1-1V9a1 1 0 0 1 1-1h2m11-3v10a1 1 0 0 1-1 1h-7a1 1 0 0 1-1-1V7.87a1 1 0 0 1 .24-.65l2.46-2.87a1 1 0 0 1 .76-.35H18a1 1 0 0 1 1 1Z"/>
                            </svg>
                            Сілтемесін көшіріп алу
                        </button>
                        
                        <div class="flex-1 flex gap-4">
                            <div class="flex gap-1 items-center">
                                <svg class="w-8 h-8 text-red-700" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path d="M8.597 3.2A1 1 0 0 0 7.04 4.289a3.49 3.49 0 0 1 .057 1.795 3.448 3.448 0 0 1-.84 1.575.999.999 0 0 0-.077.094c-.596.817-3.96 5.6-.941 10.762l.03.049a7.73 7.73 0 0 0 2.917 2.602 7.617 7.617 0 0 0 3.772.829 8.06 8.06 0 0 0 3.986-.975 8.185 8.185 0 0 0 3.04-2.864c1.301-2.2 1.184-4.556.588-6.441-.583-1.848-1.68-3.414-2.607-4.102a1 1 0 0 0-1.594.757c-.067 1.431-.363 2.551-.794 3.431-.222-2.407-1.127-4.196-2.224-5.524-1.147-1.39-2.564-2.3-3.323-2.788a8.487 8.487 0 0 1-.432-.287Z"/>
                                </svg>
                                <span>{{ quiz_control.quiz.quiz_questions.count }} сұрақ</span>
                            </div>
                            <div class="flex gap-1 items-center">
                                <svg class="w-8 h-8  text-blue-500" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                    <path fill-rule="evenodd" d="M17.44 3a1 1 0 0 1 .707.293l2.56 2.56a1 1 0 0 1 0 1.414L18.194 9.78 14.22 5.806l2.513-2.513A1 1 0 0 1 17.44 3Zm-4.634 4.22-9.513 9.513a1 1 0 0 0 0 1.414l2.56 2.56a1 1 0 0 0 1.414 0l9.513-9.513-3.974-3.974ZM6 6a1 1 0 0 1 1 1v1h1a1 1 0 0 1 0 2H7v1a1 1 0 1 1-2 0v-1H4a1 1 0 0 1 0-2h1V7a1 1 0 0 1 1-1Zm9 9a1 1 0 0 1 1 1v1h1a1 1 0 1 1 0 2h-1v1a1 1 0 1 1-2 0v-1h-1a1 1 0 1 1 0-2h1v-1a1 1 0 0 1 1-1Z" clip-rule="evenodd"/>
                                    <path d="M19 13h-2v2h2v-2ZM13 3h-2v2h2V3Zm-2 2H9v2h2V5ZM9 3H7v2h2V3Zm12 8h-2v2h2v-2Zm0 4h-2v2h2v-2Z"/>
                                </svg>
                                <span>{{ quiz_control.quiz.max_score }} ұпай</span>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- QR code -->
                <div class="">
                    <img src="{{ quiz_control.qr_code.url }}" class="w-full max-w-sm mx-auto" alt="">
                </div>
            </div>
        </div>
    </div>
{% endblock main_content %}
