{% extends 'base.html' %}
{% load static %}
{% load custom_filters %}

{% block title %}
    {{ quiz_control.quiz.title }} | GameMath
{% endblock title %}

{% block content %}
<div class="w-full h-screen z-10 overflow-hidden bg-{{ ''|random_tailwind_color }}">
    <div class="bubbles">
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
        <div class="bubble"></div>
    </div>

    <div class="absolute w-full h-full">
        {% if quiz_control.status == 'FINISHED' %}
            <div class="max-w-2xl w-full mx-auto py-20 text-center">
                <h1 class="text-6xl font-bold">Ойын аяталған!</h1>
            </div>
        {% else %}
            {% if user_quiz.status == 'STARTED' %}
                <!-- QUIZ game -->
                <!-- ------------------------------------------------------------------------------------------------------------ -->
                <!-- ------------------------------------------------------------------------------------------------------------ -->
                <div class="flex h-full justify-center items-center">
                    <div class="fixed top-10 left-1/2 transform -translate-x-1/2 bg-white rounded-full w-3/4">
                        <div 
                            id="progress-bar" 
                            class="bg-orange-500 h-3 rounded-full transition-all" 
                            style="width: 0%;">
                        </div>
                    </div>
                    
                    <form method="post" class="max-w-screen-lg w-full">
                        {% csrf_token %}
                        {% for question in quiz_control.quiz.quiz_questions.all %}
                            <div class="question hidden px-4 grid gap-4">
                                <div 
                                    class="flex items-center justify-center gap-4 text-2xl font-semibold"
                                >
                                    <div class="py-6 px-10 rounded-2xl bg-white">
                                        <h1 class="text-6xl font-black text-gray-900">{{ forloop.counter }}</h1>
                                    </div>
                                    <h1 class="text-4xl">{{ question.question_body|safe }}</h1>
                                </div>
                                <div class="grid gap-4 lg:grid-cols-2 mt-4">
                                    {% for option in question.q_options.all %}
                                        <div class="flex items-center gap-2 p-6 rounded-xl bg-white shadow-md hover:bg-gray-50 transition-all">
                                            <input 
                                                id="option_{{ option.id }}" 
                                                type="radio" value="{{ option.id }}" 
                                                name="question_{{ question.id }}" 
                                                class="w-8 h-8 text-orange-500 border-4 border-orange-300 focus:ring-orange-500 focus:ring-2 transition-all cursor-pointer"
                                                onclick="playAudio('click-audio')"
                                            >
                                            <label for="option_{{ option.id }}" class="ms-2 font-medium text-gray-900 flex-1 cursor-pointer">
                                                {{ option.option_body|safe }}
                                            </label>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endfor %}
        
                        <!-- Кнопки управления -->
                        <div class="button-container absolute bottom-5 right-10 flex gap-4">
                            <button 
                                type="button" 
                                id="prev-btn" 
                                onclick="playAudio('next-audio')"
                                class="py-4 px-8 font-semibold bg-white text-gray-900 rounded-lg transition-all hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed"
                                disabled
                            >
                                Артқа
                            </button>
                            <button 
                                type="button" 
                                id="next-btn"
                                onclick="playAudio('next-audio')"
                                class="py-4 px-8 font-semibold bg-white text-gray-900 rounded-lg transition-all hover:bg-gray-100 disabled:opacity-50 disabled:cursor-not-allowed"
                            >
                                Келесі
                            </button>
                            <button 
                                type="submit"
                                id="finish-btn"
                                class="py-4 px-8 font-semibold bg-orange-500 text-white rounded-lg transition-all hover:bg-orange-600 disabled:opacity-50 disabled:cursor-not-allowed"
                                disabled
                                onclick="finishTest('finish-audio')"
                            >
                                Аяқтау
                            </button>
                        </div>
                    </form>
        
                    <!-- Аудиофайлы -->
                    <audio id="click-audio" src="{% static 'audio/option_click-1.wav' %}"></audio>
                    <audio id="next-audio" src="{% static 'audio/option_click-2.wav' %}"></audio>
                    <audio id="finish-audio" src="{% static 'audio/finish.mp3' %}"></audio>
                </div>
            {% else %}
                <h1 class="text-6xl font-bold">Сіз ойын аятадыңыз!</h1>
            {% endif %}
        {% endif %}
    </div>
</div>
{% endblock content %}