{% extends 'base.html' %}
{% load static %}

{% block title %}
    Начать квиз - {{ quiz_control.quiz.title }} | GameMath
{% endblock title %}


{% block content %}
<div class="w-full h-screen bg-red-500 flex justify-center items-center">
    {% if quiz_control.status == 'FINISHED' %}
        <div class="max-w-2xl w-full mx-auto py-20 text-center">
            <h1 class="text-6xl font-bold">Ойын аяталған!</h1>
        </div>
    {% else %}
        <div class="grid gap-4 max-w-lg w-full text-center">
            <img src="{{ quiz_control.quiz.poster.url }}" class="w-64 mx-auto rounded-lg" alt="">
            <h1 class="text-4xl font-bold">{{ quiz_control.quiz.title }} ойынын бастау</h1>
            <form method="post" action="" class="grid gap-2 px-8">
                {% csrf_token %}
                <input 
                    type="text" 
                    name="username" 
                    placeholder="Атыңды жаз..." 
                    required
                    class="rounded-lg text-lg border-transparent"    
                >
                <button 
                    type="submit"
                    class="py-2 font-semibold bg-white text-red-500 rounded-lg"
                >
                    Ойынды бастау
                </button>
            </form>
        </div>
    {% endif %}
</div>
{% endblock content %}