{% extends 'layouts/main.html' %}
{% load static %}

{% block title %}
    Барлық курстар | CreativeWEB
{% endblock title %}


{% block main_content %}
<div class="container">
    <div>
        {% for category in categories %}
        <div class="py-8 border-b grid gap-5">
            <div>
                <h4 class="text-2xl font-bold dark:text-white">{{ category.name }}</h4>
                <span class="text-gray-500">{{ category.description }}</span>
            </div>

            <div class="container grid grid-cols-4 gap-2">
                {% for course in category.courses.all %}
                <a href="{% url 'course_detail' course.pk %}"
                    class="w-full bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700 transition-all hover:bg-gray-100">
                    <img class="rounded-t-lg"
                        src="{% if course.poster %}{{ course.poster.url }}{% else %}{% static '/images/poster.jpg' %}{% endif %}"
                        alt="" 
                    />

                    <div class="p-5 grid">
                        <h5 class="mb-2 text-lg font-semibold tracking-tight text-gray-900 dark:text-white">
                            {{ course.title }}
                        </h5>

                        <div class="flex items-center text-gray-500">
                            <svg class="w-6 h-6" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                width="24" height="24" fill="currentColor" viewBox="0 0 24 24">
                                <path fill-rule="evenodd"
                                    d="M4 4a2 2 0 0 0-2 2v12a2 2 0 0 0 .087.586l2.977-7.937A1 1 0 0 1 6 10h12V9a2 2 0 0 0-2-2h-4.532l-1.9-2.28A2 2 0 0 0 8.032 4H4Zm2.693 8H6.5l-3 8H18l3-8H6.693Z"
                                    clip-rule="evenodd" />
                            </svg>
                            <span class="block">{{ course.lessons.count }} сабақ</span>
                        </div>
                    </div>
                </a>
                {% endfor %}
            </div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock main_content %}