{% extends 'layouts/main.html' %}
{% load static %}
{% load custom_filters %}


{% block title %}
{{ lesson.title }} | CreativeWEB
{% endblock title %}

{% block main_content %}
<div class="flex gap-4">
    <!-- Левая часть: Карусель для видео, тестов и заданий -->
    <div class="w-3/4 bg-white p-6 border rounded-lg">
        <div>
            <h1 class="text-2xl font-bold mb-2">{{ lesson.title }}</h1>
            <p class="text-gray-700 mb-6">{{ lesson.description }}</p>
        </div>

        <div class="w-full bg-white border border-gray-200 rounded-lg dark:bg-gray-800 dark:border-gray-700">
            <ul class="flex flex-wrap text-sm font-medium text-center text-gray-500 border-b border-gray-200 rounded-t-lg bg-gray-50 dark:border-gray-700 dark:text-gray-400 dark:bg-gray-800"
                id="defaultTab" data-tabs-toggle="#defaultTabContent" role="tablist">
                <li class="me-2">
                    <button id="video-tab" data-tabs-target="#video" type="button" role="tab" aria-controls="video"
                        aria-selected="true"
                        class="inline-block p-4 text-blue-600 rounded-ss-lg hover:bg-gray-100 dark:bg-gray-800 dark:hover:bg-gray-700 dark:text-blue-500">Видеосабақ</button>
                </li>
                <li class="me-2">
                    <button id="services-tab" data-tabs-target="#services" type="button" role="tab"
                        aria-controls="services" aria-selected="false"
                        class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Тесттер</button>
                </li>
                <li class="me-2">
                    <button id="statistics-tab" data-tabs-target="#statistics" type="button" role="tab"
                        aria-controls="statistics" aria-selected="false"
                        class="inline-block p-4 hover:text-gray-600 hover:bg-gray-100 dark:hover:bg-gray-700 dark:hover:text-gray-300">Тапсырмалар</button>
                </li>
            </ul>
            <div id="defaultTabContent">
                <!-- Videos -->
                <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="video" role="tabpanel"
                    aria-labelledby="video-tab">
                    {% for video in videos %}
                    <div class="video-container mb-6">
                        <iframe width="100%" height="520" src="{{ video.video_url }}" frameborder="0"
                            allowfullscreen></iframe>
                        {% with progress=video_progress|get_video_item:video.id %}
                            {% if not progress or not progress.completed %}
                            <form method="post" action="{% url 'mark_video_watched' video.id %}" class="block w-full my-4">
                                {% csrf_token %}
                                <button type="submit"
                                    class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                    Қаралған ретінде белгілеу
                                </button>
                            </form>
                            {% else %}
                            <div class="flex items-center p-4 my-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
                                role="alert">
                                <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true"
                                    xmlns="http://www.w3.org/2000/svg" fill="currentColor" viewBox="0 0 20 20">
                                    <path
                                        d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                                </svg>
                                <span class="sr-only">Info</span>
                                <div>
                                    <span class="font-medium">Белгіленді!</span> Видеосабақ көріліп белгіленді!
                                </div>
                            </div>
                            {% endif %}
                        {% endwith %}
                    </div>
                    {% endfor %}
                </div>

                <!-- Tests -->
                <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="services" role="tabpanel"
                    aria-labelledby="services-tab"
                >
                    <h2 class="text-xl font-semibold py-2 border-b">Тесттер</h2>
                    <form method="post" action="{% url 'submit_test' lesson.id %}">
                        {% csrf_token %}
                        {% for test in tests %}
                            <div class="mb-4">
                                <!-- Вопрос -->
                                <h3 class="text-lg font-semibold">{{ forloop.counter }}. {{ test.question }}</h3>
                                
                                <!-- Варианты ответов -->
                                {% for option in test.options.all %}
                                <label class="block">
                                    {% with progress=test_progress|get_test_item:test.id %}
                                        {% if progress and progress.completed %}
                                            <div class="{% if option.is_correct %}bg-green-500 text-white{% elif progress.selected_option.id == option.id %}bg-red-500 text-white{% endif %} p-2 rounded">
                                                <input type="radio" name="question_{{ test.id }}" value="{{ option.id }}" 
                                                    {% if progress.selected_option.id == option.id %} checked {% endif %} disabled>
                                                <span class="">
                                                    {{ option.text }}
                                                </span>
                                            </div>

                                        {% else %}
                                            <!-- Тест не завершен -->
                                            <input type="radio" name="question_{{ test.id }}" value="{{ option.id }}">
                                            {{ option.text }}
                                        {% endif %}
                                    {% endwith %}
                                </label>
                                {% endfor %}
                            </div>
                        {% endfor %}
                        
                        <!-- Кнопка "Завершить тест", если тест не завершен -->
                        {% if not test_completed.completed %}
                            <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                Тестті аяқтау
                            </button>
                        {% endif %}
                    </form>
                </div>

                <!-- Tasks -->
                <div class="hidden p-4 bg-white rounded-lg md:p-8 dark:bg-gray-800" id="statistics" role="tabpanel"
                    aria-labelledby="statistics-tab">
                    <h2 class="text-xl font-semibold mb-4">Тапсырмалар</h2>
                    <form method="post" action="{% url 'submit_task' lesson.id %}">
                        {% csrf_token %}
                        {% for task in tasks %}
                        <!-- Получаем прогресс для каждой задачи -->
                        {% with task_progress=task_progress|get_task_item:task.id %}
                
                            <div class="mb-4">
                                <!-- Если задача завершена, показываем результат -->
                                {% if task_progress and task_progress.completed %}
                                <div class="p-4 mb-4 text-sm text-gray-800 rounded-lg bg-gray-50 dark:bg-gray-800 dark:text-gray-300" role="alert">
                                    <span class="font-medium">Тапсырм:</span> Сіздің бұл сұраққа: "{{ task.description }}" жауабыңыз: {{ task_progress.answer }}
                                </div>
                                <div class="flex items-center p-4 mb-4 text-sm text-green-800 rounded-lg bg-green-50 dark:bg-gray-800 dark:text-green-400"
                                    role="alert">
                                    <svg class="flex-shrink-0 inline w-4 h-4 me-3" aria-hidden="true" xmlns="http://www.w3.org/2000/svg"
                                        fill="currentColor" viewBox="0 0 20 20">
                                        <path
                                            d="M10 .5a9.5 9.5 0 1 0 9.5 9.5A9.51 9.51 0 0 0 10 .5ZM9.5 4a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM12 15H8a1 1 0 0 1 0-2h1v-3H8a1 1 0 0 1 0-2h2a1 1 0 0 1 1 1v4h1a1 1 0 0 1 0 2Z" />
                                    </svg>
                                    <span class="sr-only">Info</span>
                                    <div>
                                        <span class="font-medium">Орындалды!</span> Тапсырма жіберілді!
                                    </div>
                                </div>
                
                                <!-- Если задача не завершена, показываем форму -->
                                {% else %}
                                <h3 class="text-lg font-semibold">{{ forloop.counter }}. {{ task.description }}</h3>
                                <textarea name="task_answer_{{ task.id }}" rows="5" class="w-full p-2 border border-gray-300 rounded mb-4"></textarea>
                                {% endif %}
                            </div>
                        {% endwith %}
                        {% endfor %}
                            
                        {% if not task_completed.completed %}
                            <button type="submit"
                                class="text-white bg-blue-700 hover:bg-blue-800 focus:ring-4 focus:ring-blue-300 font-medium rounded-lg text-sm px-5 py-2.5 dark:bg-blue-600 dark:hover:bg-blue-700 focus:outline-none dark:focus:ring-blue-800">
                                Тапсырманы жіберу
                            </button>
                        {% endif %}
                    </form>
                </div>
            </div>
        </div>

        {% if all_tests_completed and all_tasks_completed and not lesson_progress.completed %}
        <form method="post" action="{% url 'complete_lesson' lesson.id %}">
            {% csrf_token %}
            <button type="submit" class="bg-green-500 text-white py-2 px-4 rounded mt-6">Сабақты аяқтау</button>
        </form>
        {% elif lesson_progress.completed %}
        <p class="text-green-500 mt-6">Сабақ аяқталды!</p>
        {% endif %}
    </div>

    <!-- Правая колонка: Список уроков -->
    <div class="w-1/4">
        <div class="bg-white p-4 border rounded-lg">
            <h2 class="text-xl font-semibold mb-4">Курс сабақтары</h2>
            <ul class="space-y-2">
                {% for lesson in lessons %}
                <li>
                    <a href="{% url 'lesson_detail' lesson.id %}" class="text-blue-500 hover:underline">
                        {{ lesson.title }}
                    </a>
                </li>
                {% endfor %}
            </ul>
        </div>
    </div>
</div>
{% endblock main_content %}